/*Primary Header*/
body {
	background: white;
	padding-left: 15px;
	padding-right: 15px;
	color: black;
}
h1, h2, h3 {
	font-family: "Futura Std", "Futura Std Regular", "Open Sans", sans-serif;
	color: black;
}
/* Baseline Links*/
a {
	color: #4d4d4d;
	text-decoration: none;
}
a:hover {
	color: #1a1a1a;
}
/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}
p {
	font-family: 'Droid Serif', serif;
	padding-right: 15px;
	margin-bottom: 15px;
}
/* Layout for Style Tile*/
section {
	margin: 20px 0;
}
.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
	border: 1px solid gray;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
.color-1 {
	background: #1a1a1a;
}
.color-2 {
	background: #4d4d4d;
}
.color-3 {
	background: #ffffff;
}
.color-4 {
	background: #cc0000;
}
.color-5 {
	background: #000000;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}